.box{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    color: pink;
}



.container1{
    display: flex;
    align-items: flex-start;
    height: 200px;
    justify-content: center;
}
.container2{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.container3{
    display: flex;
    align-items: flex-end;
   
}
.container4{
    display: flex;
    
   
}
.container5{
    display: flex;
   
}
.container6{
    display: flex;
}
