.img-box {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
  }
  
  .img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.6s ease, opacity 0.6s ease;
  }
  
  .top-img {
    transform: translateY(0); 
    opacity: 1;
  }
  
  .img-box:hover .top-img {
    transform: translateY(-100%); 
    opacity: 0;
  }
  
  .bottom-img {
    transform: translateY(100%);
    opacity: 0;
  }
  
  .img-box:hover .bottom-img {
    transform: translateY(0);
    opacity: 1;
  }
  