
.box {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: pink;
  }
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
   }
   
   