h1{
 text-align: center;
}

.block a{
   display: block;
   background-color:dodgerblue;
   padding: 15px;
   margin-bottom: 5px;
   text-decoration: none;
   color: White;
  
   
}
 .inline a{
    display: inline;
    background-color: green;
   padding: 8px 12px;
   text-decoration: none;
   border-radius: 3px;
   color: aliceblue;
   margin: 5px;
 }
 .inline-block a{
    display: inline-block;
    background-color: pink;
   padding: 8px 12px;
   text-decoration: none;
   border-radius: 3px;
   color: aliceblue;
   margin: 5px;
 } 

 .float a{
    
    float: left;
    background-color:plum;
   padding: 8px 12px;
   text-decoration: none;
   border-radius: 3px;
   color: aliceblue;
   margin: 5px;
 }



 