.product{
border: 1px solid black;
width: 200px;
height: 350px;
margin: 0 auto;
margin-top: 100px;
align-content: center;
cursor: grab;
transition: box-shadow 0.3s ease, border-color 0.3s ease;
align-items: center;
}

.product:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    border-color: #a020f0;
}
 img{
    padding-top: 15px;
   padding-left: 35px;
  
 }
  h3{
    padding: 2px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    font-weight: 600;
    cursor: text;
  }

  p{
    text-align: center;
    color: darkblue;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: text;
  }
   .button{
    border-radius: 5px;
    margin-left: 55px;
    background-color:azure;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    cursor: grabbing;
    transition: box-shadow 0.1s , color 0.1s;


   }

   .button:hover{
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
   
    color:white;
    background: black;
    

   }